{% extends 'mainframe2.html' %}

{% block content %}
<h4 style="color: #634290" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
    xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">Nвскр.апп - количество вскрытых противником аппаратных (станций, КШМ, ШМ, АПЕ);
    Nапп - общее количество аппаратных (станций, КШМ, ШМ, АПЕ), входящих в состав элемента (модуля);
    Pэфф.пво - эффективность действия группировки ПВО;
    Pэфф.рэб - эффективность действия группировки РЭБ.</h4>


<div id="part3_3">
    <div class="container text-center">

        Число элементов = ${Elements = Out1[Out1.length-1]["Elements"]}

        <div v-for="N, i in Elements">

            <div class="container text-left">
                <div class="row">
                        <div class="col-lg-2">
                        <h2>Элемент номер ${N} </h2>
                    </div>

                    <div class="col-lg-2">
                        <form role="form">
                            <input class="form-control"
                                   id = "Dictionary3.Nvapp[id]" v-model="Dictionary3.Nvapp" placeholder="введите значение">
                            <p> Nvapp= ${ Nvapp[id] = Dictionary3.Nvapp} </p>

                        </form>
                    </div>

                    <div class="col-lg-2">
                        <form role="form">
                            <input class="form-control"
                                   id = "Nap" v-model="Dictionary3.Nap" placeholder="введите значение">
                            <p> Nap= ${ Nap[id] = Dictionary3.Nap} </p>
                        </form>
                    </div>

                    <div class="col-lg-2">
                        <form role="form">
                            <input class="form-control"
                                   id = "Peffpvo" v-model="Dictionary3.Peffpvo" placeholder="введите значение">
                            <p> Peffpvo= ${ Peffpvo[id] = Dictionary3.Peffpvo} </p>
                        </form>
                    </div>

                    <div class="col-lg-2">
                        <form role="form">
                            <input class="form-control"
                                   id = "Peffreb" v-model="Dictionary3.Peffreb" placeholder="введите значение">
                            <p> Peffreb= ${ Peffreb[id] = Dictionary3.Peffreb} </p>
                        </form>
                    </div>

                    <div class="col-lg-2">
                        <a class="btn btn-primary" style="color: #ffffff" v-on:click="setPost(Dictionary3, id)">Добавить</a>
                        <!--                        <a class="btn btn-primary" style="color: #ffffff" v-on:click="poppush(result, Dictionary2.Napp)">пушить</a>-->


                    </div>
                    <!--                    ${result[id]}-->
                    <!--                    ${pushing(res2, )}-->
                </div>
                Out 3 =${Dictionary3}
            </div>
        </div>

        <div class="container text-right">
            <a href="/mainmenu/part3/page2" class="btn btn-danger">Назад</a>
            <a class="btn btn-success" href="/mainmenu/part3/Page4" >Далее</a>

        </div>
    </div>

</div>

{% endblock %}