{% extends 'mainframe2.html' %}

{% block content %}
<h4 style="color: #634290" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
    xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">Sц - площадь цели;
    Smax - максимальная площадь поражения боеприпасами.</h4>


<div id="part3_2">
    <div class="container text-center">
    <h3 style="color: #2aabd2">
        Число элементов = ${Elements = Out1[Out1.length-1]["Elements"]}
    </h3>


        <div v-for="N, i in Elements">
            <div v-show="counter+1==N">

            <div class="container text-left">

                <div class="row">
                    <div class="col-lg-6">
                        <h2 style="color: #383ca8"> Sц (элемент номер ${N}) = </h2>
                    </div>

                    <div class="stepper stepper--style-2 js-spinner" style="margin-left:2% ">
                        <input autofocus type="number" min="0" max="10000" step="1" value="0" class="stepper__input"
                               id = "Sc[id]" v-model="Sc[id]" placeholder="вводите">
                    </div>
                    <div v-show="visible">
                        <p> Sc= ${ Dictionary2["Sc"] = Sc[id] } </p>
                    </div>


                    <div class="col-lg-2">
                        <a class="btn btn-primary" style="color: #ffffff" v-on:click="setPost(Dictionary2, id); counter=counter+1">Добавить</a>
                        <!--                        <a class="btn btn-primary" style="color: #ffffff" v-on:click="poppush(result, Dictionary2.Napp)">пушить</a>-->


                    </div>

                </div>
                <div v-show="visible">

                Out 2 =${Dictionary2}

                </div>
            </div>


            </div>
        </div>

            <div class="container text-left">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 style="color: #383ca8">Smax =</h2>
                    </div>

                    <div class="col-lg-4">

                        <div class="stepper stepper--style-2 js-spinner" style="margin-left:2% ">
                            <input autofocus type="number" min="0" max="10000" step="1" value="0" class="stepper__input"
                                   id = "Smax" v-model="Dictionary2.Smax" placeholder="вводите">
                        </div>
                        <div v-show="visible">
                        <p> Smax = ${ Dictionary2.Smax } </p>
                        </div>
                    </div>
                </div>
            </div>



        <div class="container text-right">
            <a href="/mainmenu/part3" class="btn btn-danger">Назад</a>
            <a class="btn btn-success" href="/mainmenu/part3/Page3" >Далее</a>

        </div>



    </div>

</div>

{% endblock %}