<!DOCTYPE html>
<html lang="en-ru" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Расчёт времени на развёртывание много интервальной радиолинейной линии связи</title>

    {% load staticfiles %}
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>

</head>
<body style="background-color: forestgreen">
<div id = "part4_3">
    <div class="container text-center" style="background-color: white; margin-top: 60px">
    <h1>Расчет времени на развертывание много интервальной радиорелейной линии связи</h1>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" xmlns:v-bind="http://www.w3.org/1999/xhtml"
                xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
                xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
                xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"></script>

    <div class="container text-left">
        <div class="row">
            <div class="col-lg-3">
                <h2>Время марша = </h2>
            </div>
            <div class="col-lg-2">
                <form role="form">
                    <input class="form-control"
                           id = "marsh_val" v-model="Dictionary3.marsh_val" placeholder="введите значение">
<!--                    <p> Время марша: ${ Dictionary3.marsh_val } </p>-->
                </form>
            </div>
        </div>
    </div>


    <div class="container text-left">
            <div class="row">
                <div class="col-lg-3">
                    <h2>Устройство  </h2>
                </div>
                <div class="col-lg-7">

                    <select class="form-control"
                            id = "stanciya_selected"
                            v-model="Dictionary3.stanciya_selected">
                        <option v-for="stanc in stanciya" v-bind:value="stanc.value">
                            ${ stanc.text } (${stanc.value} мин.)
                        </option>

                    </select>

<!--                    <span>выбрано : ${ Dictionary3.stanciya_selected }-->
<!--                </span>-->

                </div>
            </div>
        </div>

            <a href="" v-for="(all, index, id) in Dictionary3">
            </a>



<!--        Dictionary3  = ${Dictionary3}-->
        <!-- Кнопки "Назад" и "Далее" -->
        <div class="container text-right">
            <a href="/mainmenu/part4" class="btn btn-danger">Назад</a>
            <a href="/mainmenu/part4/page4" class="btn btn-success" v-on:click="setPost(Dictionary3, id)">Далее</a>

        </div>



    </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    const url = "http://127.0.0.1:8000/api/part4_3/"
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

    new Vue({
        el: '#part4_3',
        delimiters: ['${','}'],
        data : {
            stanciya: [
                { text: "Передающий узел Р-161У на антенны: две V-образнные", value:"70"},
                { text: "Приемный узел Р-161ПУ на антенны: всех типов", value:"90"},
                { text: "Радиостанция Р-166 на две мачты", value:"72"},
                { text: "Передающая часть радиостанции Р-161-5 на антенны: двойной вертикальный ромб ", value:"145"},
                { text: "Приемная часть радиостанции Р-161-5 на антенны: все типы антенн ", value:"105"},
                { text: "Тропосферная станция Р-423АМ", value:"35"},
                { text: "Радиорелейная станция Р-416ГМ", value:"85"},
                { text: "Радиорелейная станция Р-431АМ (антенный модуль)", value:"47"},
                { text: "Радиорелейная станция Р-419Л1 на два полукомплекта", value:"30"},
                { text: "Станция спутниковой связи Р-441-Л на выносную антенну", value:"40"},
                { text: "Комплексная аппаратная П-260-Т", value:"70"},
                { text: "Комплексная аппаратная П-260-О", value:"75"},
                { text: "Комплексная аппаратная П-260-У", value:"80"},
                { text: "Аппаратная П-266", value:"45"},
                { text: "Станция спутниковой связи Р-441-УВ (Р-441-У, Р-440-У) ", value:"110"},
                { text: "Аппаратная ШАС П-244И(П-244И-4)", value:"80"},
                { text: "Аппаратная ШАС П-238ТК(П-238ТК1)", value:"55"},
                { text: "Аппаратная ШАС К-8М", value:"50"},
                { text: "Аппаратная КАС П-240И(П240И4)", value:"70"},
                { text: "83Т588 (МК ЗВКС)", value:"25"},
                { text: "Аппаратная ФПС П-391П1М (П-391ПМ)", value:"25"},
                { text: "Аппаратная ФПС П-392ПМ", value:"23"},
                { text: "Передающий узел Р-176У на антенны: две V-образные", value:"80"},
                { text: "Приемный узел Р-176ПУ на антенны: всех типов ", value:"100"},
                { text: "Радиостанция Р-176 -1А на две мачты", value:"80"},
                { text: "Передающая часть радиостанции Р-171-5 на антенны двойной вертикальный ромб ", value:"160"},
                { text: "Приемная часть радиостанции Р-171-5 на антенны: все типы антенн ", value:"115"},
                { text: "П-243Т (МТК)", value:"60"},
                { text: "Аппаратная 83Т212", value:"54"},
                { text: "Аппаратная 83Т104", value:"40"},
                { text: "Аппаратная П-261", value:"30"},
                { text: "Электропитающая станция ЭД 2х30", value:"35"},
            ],
            stanciya_selected: '',
            marsh_val:'',
            loading: true,
            Dictionary3: {},
            full: [],
            search_term: '',

        },
        methods: {
            async setPost(full, i) {
                try {
                    let data = await axios.post(url, full);

                    if (data.status == 'success') {

                    } else {
                        throw new Error(data.status);
                    }

                } catch (e) {
                    this.error = e;
                }
            },
            async loadDictionarysPreviewLinks(){
                axios
                    .get(url )
                    .then(response => {

                        this.full = response.data;
                    })
                    .catch(function(e){
                        this.error = e;
                    });
            },

        },
        mounted: function() {
            this.loadDictionarysPreviewLinks(); //загружаем все ссылки из сервера
        },

    });


</script>
</body>

</body>


</html>
