{% extends 'mainframe1.html' %}

{% block content %}
<h4 style="color: #634290" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
    xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">Sц - площадь цели;
    Smax - максимальная площадь поражения боеприпасами.</h4>


<div id="part3_2">
    <div class="container text-center">

    </div>

    <div class="container text-center">
        <div class="container text-left">

        </div>
    </div>


    <div class="container text-right">
        <a href="/mainmenu/part1" class="btn btn-danger">Назад</a>
        <a class="btn btn-success" href="/mainmenu/part1/Page3" >Далее</a>

    </div>



</div>


{% endblock %}