<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет времени выполнения задач узлом связи (выполнение требований по мобильности узла связи)</title>

    {% load static %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/style.css" rel="stylesheet" >

</head>
<body style="background-color: forestgreen">
<div class="container text-center" style="background-color: white; margin-top:7% ">

    <div class="row align-items-center">
        <div class="col-10">
            <div class="container text-left">
                <h3 style="color: #676968">
                    Расчет времени развёртывания согласно "Сборнику учебно-боевых нормативов для войск связи"
                </h3>
            </div>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary" href="/mainmenu/part1/Page1" >Вход</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-10">
            <div class="container text-left">
                <h3 style="color:#27a029">
                    Расчет времени развёртывания согласно "Инструкции по оценке выполнения учебно-боевых задач при проведении ТСУ,
                    КШУ соединений, воинских частей связи ВС РФ"
                </h3>
            </div>
        </div>
        <div class="col-2">
            <div class="center-block">
                <a class="btn btn-success" href="/mainmenu/part1/Page2" >Вход</a>
            </div>
        </div>
    </div>
    <a href="/mainmenu" class="btn btn-danger">Назад</a>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>

</html>


