<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet" >
    <link href="static/css/style.css" rel="stylesheet" >

</head>
<body>
<div class="otstup">

</div>
    <div class="container">
         <div class="columns">
             <div class="column is-offset-4 is-4">
                 <div class="containermenu">
                 <h1 class="usual1">Расчет времени выполнения задач узлом связи
                            (выполнение требований по мобильности узла связи)</h1>
                 <div class="centerboard">
                        <a href="/mainmenu/part1" class="button2">Вход</a>
                 </div>
                 </div>
                 <div class="containermenu">
                        <h1 class="usual1">Расчет разведзащищенности узла связи
                            (пункта управления)</h1>
                     <div class="centerboard">
                        <a href="/mainmenu/part2" class="button2">Вход</a>
                     </div>
                 </div>
                 <div class="containermenu">
                        <h1 class="usual1">Расчет живучести узла связи
                            (пункта управления)</h1>
                     <div class="centerboard">
                        <a href="/mainmenu/part3" class="button2">Вход</a>
                     </div>
                 </div>
                 <div class="containermenu">
                        <h1 class="usual1">Расчет времени на развертывание многоинтервальной
                            радиорелейной линии связи</h1>
                     <div class="centerboard">
                        <a href="/mainmenu/part4" class="button2">Вход</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>





</body>
</html>