<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет разведзащищенности узла связи
        (пункта управления)</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js">
    </script>
</head>
<body style="background-color: forestgreen">
    <div class="container text-center" style="background-color: white; margin-top: 60px">
        <h1>Расчет разведзащищенности узла связи
            (пункта управления)</h1>

        {% block content%}
        {% endblock %}
    </div>


</body>


</html>