<!DOCTYPE html>
<html lang="en-ru" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Расчёт времени на развёртывание много интервальной радиолинейной линии связи</title>
    {% load static %}
    <link href=" {% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href=" {% static 'css/style.css'%}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>


    <!--  <script src="Page1.js"></script>-->
</head>
<body style="background-color: forestgreen">
<div class="container text-center" style="background-color: white; margin-top:7% ">

    <h1 style="color:#812390">
        Расчет времени выполнения задач полевым узлом связи
    </h1>
    <div class="container text-left">
    </div>
    <div id="Page1BezSostav">
        <div class="container text-left">
            Kir = ${BezRazdelKir[BezRazdelKir.length-1].Kir}
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="js/stepper.min.js"></script>
<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    const url_br = "http://127.0.0.1:8000/api/page1_br/";
    const url_bs = "http://127.0.0.1:8000/api/page1_bs/";
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

    new Vue({
        el: '#Page1BezSostav',
        delimiters: ['${','}'],
        data : {
            Raschet: '',
            Kir: 0,
            BezRazdelKir:{},
            visible: false,
        },
        methods: {
            async setPost(cur) {
                try {
                    let data = await axios.post(url_bs, cur);
                    if (data.status == 'success') {
                    } else {
                        throw new Error(data.status);
                    }
                } catch (e) {
                    this.error = e;
                }
            },
            async loadDictionarysPreviewLinks(){
                axios
                    .get(url_br)
                    .then(response => {
                        this.BezRazdelKir = response.data;
                    })
                    .catch(function(e){
                        this.error = e;
                    });
            },
        },
        mounted: function() {
            this.loadDictionarysPreviewLinks(); //загружаем все ссылки из сервера
        },

    });

</script>

</body>


</html>
