{% extends 'part4/mainframe.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" xmlns:v-bind="http://www.w3.org/1999/xhtml"
        xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
        xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
        xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"></script>



<!— Список линий —>

<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
            <h2>Тип линий = </h2>
        </div>
        <div class="col-lg-7">
            <div id="lines">
            <select class="form-control" v-model="selected" >
                <option v-bind:value="option.value" v-for="option in options">
                    [[ option.text ]]
                </option>

            </select>
            <span>Tnr = [[ selected ]] </span>
            </div>
        </div>
    </div>
</div>



<!— Список каналов —>
<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
            <h2>Тип канала = </h2>
        </div>
        <div class="col-lg-7">
            <div id="canals">
                <select class="form-control" v-model="selected">
                    <option v-bind:value="option.value" v-for="option in options" >
                        [[ option.text ]]
                    </option>

                </select>
                <span>Tsau = [[ selected ]] </span>
            </div>
        </div>
    </div>
</div>



<!-- Кол-во станций -->
<div class="container text-left">
    <div class="row">
        <div class="col-lg-7">
            <h2>Количество радиорелейных станций = </h2>
        </div>
        <div class="col-lg-2">
            <div id="number">
                <form role="form">
                    <input class="form-control" v-model="number_val" placeholder="введите значение">
                    <p>Ktc: [[ number_val ]] </p>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Кнопки "Назад" и "Далее" -->
<div class="container text-right">
    <a href="/mainmenu" class="btn btn-danger">Назад</a>
    <a href="/mainmenu/part4/page2" class="btn btn-success">Далее</a>
</div>

<script src="Page1.js"></script>

<!--<script src="Page1/static/Page1.js"></script>-->
{% endblock %}
