<!DOCTYPE html>
<html lang="en-ru" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Состав узла связи</title>
    {% load static %}
    <link href=" {% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href=" {% static 'css/style.css'%}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>


    <!--  <script src="Page1.js"></script>-->
</head>
<body style="background-color: forestgreen">

<div class="container text-center" style="background-color: white; margin-top:7% ">

    <h1 style="color:#812390">
        Состав узла связи
    </h1>
    <div id="Page1BezSostav">
    <div class="row">
        <button class="btn btn-primary" style="margin-left:1%" v-on:click=abbrVal="1"> ЦКО </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="2"> ПРЦ </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="3"> ПДРЦ </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="4"> ТФЦ </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="5"> ТГЦ </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="6"> ЦАСУ </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="7"> ГрМСПС </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="8"> ГТО </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="9"> ЦЭС </button>
        <button class="btn btn-secondary" style="margin-left:1%" v-on:click=abbrVal="10"> ПУУС </button>
    </div>
    <div class="container text-left">
        <div v-if="abbrVal==1">
            Центр каналообразования
            <input type="radio" id="twoGroups" value=2 v-model="NumGroups">
            <label for="twoGroups">
                <p style="color: #0c5460">
                    2 Группы
                </p>
            </label>
            <input type="radio" id="threeGroups" value=3 v-model="NumGroups">
            <label for="threeGroups">
                <p style="color: #0c5460">
                    3 Группы
                </p>
            </label>
            <br>

            <div v-if="NumGroups==2">
                <button class="btn btn-secondary" style="margin-left:2%" v-on:click=NomerGrupp=1> Гр 1 </button>
                <button class="btn btn-secondary" style="margin-left:1%" v-on:click=NomerGrupp=2> Гр 2 </button>
                <div class="row">
                    <div class="col-sm">
                        <div v-for="Stanc in AllStanc ">
                            <div v-for="El in Stanc" style="margin-top:1%">
                                <input type="checkbox" id="El_name" value=El.boolPicked v-model="El.boolPicked">
                                <button class="btn btn-secondary" style="margin-left:1%" v-on:click=typeVal=El.id>
                                    ${El_name = El.name}
                                </button>
                                ${El.boolPicked}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm" >
                        <div v-show="visible">
                            ${Stanc = AllStanc[typeVal-1]}
                        </div>
                        <div v-for="El in Stanc" style="margin-top:1%; font-size: 27px; font-family:'DejaVu Sans'; color: #0f6674" >
                            Название: ${Dict.name = El.name}<br>
                            Кол-во машин: ${Dict.NumMachines = El.NumMachines}<br>
                            Трудозатраты День: ${Dict.TrudDay = El.TrudDay}<br>
                            Трудозатраты Ночь: ${Dict.TrudNight = El.TrudNight}<br>
                            <div class="stepper stepper--style-2 js-spinner" >
                                Количество аппаратных:
                            <input autofocus type="number" min="0" max="60" step="1" value="0" class="stepper__input"
                                   id = "El.NumAppar" v-model="El.NumAppar" placeholder="введите значение">
                            </div>
                            <div class="stepper stepper--style-2 js-spinner" style="margin-top:0.3%;">
                                Количество л/с в аппаратных:
                                <input autofocus type="number" min="0" max="60" step="1" value="0" class="stepper__input"
                                       id = "El.NumLS" v-model="El.NumLS" placeholder="введите значение">
                            </div>
                            <div v-show="visible">
                            ${Dict.NumAppar = El.NumAppar}
                            ${Dict.NumLS = El.NumLS}
                            ${Dict.boolPicked = El.boolPicked}
                            ${Kir = BezRazdelKir[BezRazdelKir.length-1].Kir}
                            </div>
                            <div v-if="Dict.boolPicked==true">
<!--                                ${BezRazdelKir.Kir = [Kir1, Kir2, Kir3, Kir4, Kir5, Kir6, Kir7].reduce((a,b)=>a+b) }-->
                                ${Dict.sumQ = Dict.boolPicked}
                            </div>
                        </div>
                    </div>
                </div>


<!--                <div v-for="El in Dict" style="margin-top:1%; font-size: 27px; font-family:'DejaVu Sans'; color: #0f6674" >-->
<!--                </div>-->
                ${Dict}
                </div>
                <div class="col-lg-6">


                </div>
            </div>
            <div class="col-lg-6">

            </div>
            <div v-else-if="NumGroups==3">
                <button class="btn btn-secondary" style="margin-left:2%" v-on:click=NomerGrupp=1> Гр 1 </button>
                <button class="btn btn-secondary" style="margin-left:1%" v-on:click=NomerGrupp=2> Гр 2 </button>
                <button class="btn btn-secondary" style="margin-left:1%" v-on:click=NomerGrupp=3> Гр 3 </button>
            </div>
        <div class="container text-left">
            Kir = ${BezRazdelKir[BezRazdelKir.length-1].Kir}
        </div>
        </div>

    <div class="container text-right" style="margin-bottom:1%">
        <a href="/mainmenu/part1/Page1/" class="btn btn-danger">Назад</a>
        <a class="btn btn-success" href="/mainmenu/part1/Page1Recogn/" >Далее</a>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="js/stepper.min.js"></script>
<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    const url_br = "http://127.0.0.1:8000/api/page1_br/";
    const url_bs = "http://127.0.0.1:8000/api/page1_bs/";
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

    new Vue({
        el: '#Page1BezSostav',
        delimiters: ['${','}'],
        data : {
            Raschet: '',
            Kir: 0,
            BezRazdelKir:{},
            visible: false,
            abbrVal:0,
            typeVal: 0,
            NumGroups: 2,
            NomerGrupp:1,
            names:[],
            ind:'',
            values:[],
            Dict:{},
            El:{},
            AllStanc:[
                [{name:'П-260-Т',
                id:1,
                boolPicked:false,
                NumMachines:1,
                TrudDay: 280,
                TrudNight: 330,
                NumAppar: 1,
                NumLS:4,
                }],
                [{name:'Р-441УВ',
                    id:2,
                    boolPicked: false,
                    NumMachines:1,
                    TrudDay: 440,
                    TrudNight: 480,
                    NumAppar: 1,
                    NumLS:4,
                }],
                [{name:'Р-419П1',
                    id:3,
                    boolPicked:false,
                    NumMachines:1,
                    TrudDay: 360,
                    TrudNight: 410,
                    NumAppar: 1,
                    NumLS:4,
                }],
                [{name:'Р-423-АМ',
                    id:4,
                    boolPicked:false,
                    NumMachines:1,
                    TrudDay: 150,
                    TrudNight: 190,
                    NumAppar: 1,
                    NumLS:3,
                }],
                [{name:'П-266К',
                    id:5,
                    boolPicked:false,
                    NumMachines:1,
                    TrudDay: 420,
                    TrudNight: 525,
                    NumAppar: 1,
                    NumLS:4,
                }],
                [{name:'Р-416ГМ',
                    id:6,
                    boolPicked:false,
                    NumMachines:1,
                    TrudDay: 180,
                    TrudNight: 230,
                    NumAppar: 1,
                    NumLS:3,
                }],
                [{name:'Р-431-АМ',
                    id:7,
                    boolPicked:false,
                    NumMachines:1,
                    TrudDay: 150,
                    TrudNight: 190,
                    NumAppar: 1,
                    NumLS:3,
                }],
            ],
        },
        methods: {
            async setPost(cur) {
                try {
                    let data = await axios.post(url_bs, cur);
                    if (data.status == 'success') {
                    } else {
                        throw new Error(data.status);
                    }
                } catch (e) {
                    this.error = e;
                }
            },
            async loadDictionarysPreviewLinks(){
                axios
                    .get(url_br)
                    .then(response => {
                        this.BezRazdelKir = response.data;
                    })
                    .catch(function(e){
                        this.error = e;
                    });
            },
        },
        mounted: function() {
            this.loadDictionarysPreviewLinks(); //загружаем все ссылки из сервера
        },

    });

</script>

</body>


</html>
