body{
    background: #17a22a;
}

.title{
    color: red;
    text-align: center;
}

.usual{
    text-align: center;
    color: black;
}

.usual1{
    text-align: center;
    color: black;
    font: 24pt sans-serif;
}

.otstup{
    padding: 20px;
}

.top-cont{
    padding-top: 10%;
}

.btn-green{
    background-color: greenyellow;
    border: none;
    text-align: center;
}

.btn-green:hover{
    background-color: greenyellow;
    border: white;
}

.centerboard {
    width: 100%;
    text-align: center;
}

a.button2{
    display:inline-block;
    padding:0.5em 1.2em;
    border:0.1em solid #FFFFFF;
    margin: auto;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    position: center;

}

a.button2:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.containermenu {
    border-radius:3.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:200;
    border: 3px solid #fff; /* Белая рамка */
    padding: 10px; /* Поля вокруг текста */
    width: 100%;
    text-align:center;
    background-color: #cbd3da;
}