{% extends 'part4/mainframe.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Список местностей -->

<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
                <h2>Местность = </h2>
        </div>
        <div class="col-lg-7">
            <div id = "mest">
            <select class="form-control" v-model="selected">
                <option>Равнинная и ср. пересечённая</option>
                <option>Лесисто-болотистая (Р. Крайнего севера)</option>
                <option>Пустынно-песчаная</option>
                <option>Гористая (грунт 4 категории</option>
            </select>
            <span>Выбрано: [[ selected ]]</span>
            </div>
        </div>
    </div>
</div>


<!-- Значение температуры -->
<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
            <h2>Температура = </h2>
        </div>
        <div class="col-lg-2">
            <div id="temp">
            <form role="form">
                <input class="form-control" v-model="temp_val" placeholder="введите значение">
                <p>температура: [[ temp_val ]] </p>
            </form>
            </div>
        </div>
    </div>
</div>

<!-- Значение снега -->
<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
            <h2>Снег = </h2>
        </div>
        <div class="col-lg-2">
            <div id="snow">
            <form role="form">
                <input class="form-control" v-model="snow_val" placeholder="введите значение">
                <p>снег: [[ snow_val ]] </p>
            </form>
            </div>
        </div>
    </div>
</div>


<!-- Значение ветра -->
<div class="container text-left">
    <div class="row">
        <div class="col-lg-3">
            <h2>Ветер = </h2>
        </div>
        <div class="col-lg-2">
            <div id="wind">
            <form role="form">
                <input class="form-control" v-model="wind_val" placeholder="введите значение">
                <p>ветер: [[ wind_val ]] </p>
            </form>
            </div>
        </div>
    </div>
</div>

<!-- Кнопки "Назад" и "Далее" -->
<div class="container text-right">
    <a href="/mainmenu/part4" class="btn btn-danger">Назад</a>
    <a href="/mainmenu/part4/page3" class="btn btn-success">Далее</a>
</div>

<script src="Page1.js"></script>
{% endblock%}