<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Расчёт времени на развёртывание много интервальной радиолинейной линии связи</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js">
  </script>
</head>
<body style="background-color: forestgreen">
<div id="part4_1">
<div class="container text-center" style="background-color: white; margin-top: 60px">
  <h1>Расчет времени на развертывание много интервальной радиорелейной линии связи</h1>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" xmlns:v-bind="http://www.w3.org/1999/xhtml"
          xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
          xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
          xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"></script>



  <!— Список линий —>

  <div class="container text-left">
    <div class="row">
      <div class="col-lg-3">
        <h2>Тип линий = </h2>
      </div>
      <div class="col-lg-7">

        <select class="form-control"
                id = "line_selected"
                v-model="currentArticle.line_selected">
          <option v-for="line in lines" v-bind:value="line.value">
            ${ line.text }
          </option>

        </select>
        <span>Tnr = ${ currentArticle.line_selected } </span>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h2>Тип канала = </h2>
      </div>
      <div class="col-lg-7">

        <select class="form-control"
                id = "canal_selected"
                v-model="currentArticle.canal_selected">
          <option v-for="canal in canals" v-bind:value="canal.value">
            ${ canal.text }
          </option>

        </select>
        <span>Tsau = ${ currentArticle.canal_selected } </span>

      </div>
    </div>
  </div>


  <!— Список каналов —>


  <div class="container text-left">
    <div class="row">
      <div class="col-lg-7">
        <h2>Количество радиорелейных станций = </h2>
      </div>
      <div class="col-lg-2">

          <form role="form">
            <input class="form-control"
                   id = "number_val"
                   v-model="currentArticle.number_val" placeholder="введите значение">
            <p> Ktc: ${ currentArticle.number_val } </p>
          </form>
      </div>
    </div>
  </div>


  <!-- Кнопки "Назад" и "Далее" -->
  <div class="container text-right">
    <a href="/mainmenu" class="btn btn-danger">Назад</a>
    <a href="/mainmenu/part4/page2" class="btn btn-success">Далее</a>
  </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script type="text/javascript">
  Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
  new Vue({
    el: '#part4_1',
    delimiters: ['${','}'],
    data: {

      lines: [
        { text: 'Р-409, З-419П1, З-419МП', value: '6' },
        { text: 'З-416ГМ', value: '3' },
        { text: 'Р-431АМ', value: '4' },
        { text: 'Р-423АМ', value: '4' },

      ],
      line_selected: '',
      canals: [
        { text: 'ТГ', value: '2' },
        { text: 'ТЧ', value: '2' },
        { text: 'Цифровой поток (канал)', value: '1.4' },
        {selected: ''},
      ],
      canal_selected: '',

      number_val: '',

      loading: true,
      currentArticle: {},
      message: null,
      newArticle: { 'part4_id': null, 'line_selected': null, 'canal_selected': null, 'number_val': null },
      search_term: '',
    },
    mounted: function() {
      this.getLines();
    },
    methods: {
      getLines: function() {
        let api_url = '/api/part4/';
        if(this.search_term!==''||this.search_term!==null) {
          api_url = `/api/part4/?search=${this.search_term}`
        }
        this.loading = true;
        this.$http.get(api_url)
                .then((response) => {
                  this.articles = response.data;
                  this.loading = false;
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
      },
      getLine: function(id) {
        this.loading = true;
        this.$http.get(`/api/part4/${id}/`)
                .then((response) => {
                  this.currentArticle = response.data;
                  $("#editArticleModal").modal('show');
                  this.loading = false;
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
      },
      addLine: function() {
        this.loading = true;
        this.$http.post('/api/part4/',this.newArticle)
                .then((response) => {
                  this.loading = true;
                  this.getLines();
                })
                .catch((err) => {
                  this.loading = true;
                  console.log(err);
                })
      },
      updateArticle: function() {
        this.loading = true;
        this.$http.put(`/api/part4/${this.currentArticle.part4_id}/`, this.currentArticle)
                .then((response) => {
                  this.loading = false;
                  this.currentArticle = response.data;
                  this.getArticles();
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
      },
      deleteArticle: function(id) {
        this.loading = true;
        this.$http.delete(`/api/part4/${id}/`)
                .then((response) => {
                  this.loading = false;
                  this.getArticles();
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
      }
    }
  });
</script>
</body>


</html>
