<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет разведзащищенности узла связи
        (пункта управления)</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.rawgit.com/juijs/vue-graph/2216ae2f/dist/vue-graph.js"></script>


<!--    <script src="./vue_svg_charts/dist/vue-svg-charts.umd.js"></script>-->
<!--    <link rel="stylesheet" href="./vue_svg_charts/dist/vue-svg-charts.css">-->

</head>
<body style="background-color: forestgreen">
{% load static %}
<!--<script type="module" src="{% static '/templates/js/app.js'%}"></script>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>



<div class="container text-center" style="background-color: white; margin-top: 60px">
    <h1>Расчет разведзащищенности узла связи
        (пункта управления)</h1>

    {% block content%}
    {% endblock %}
</div>




<script type="text/javascript">


    // import Vue from 'vue.js'
    // import VueGraph from 'vue-graph'
    // Vue.use(VueGraph);
    // import GraphLine3D from 'vue-graph/src/components/line3d.js'
    // import NoteWidget from 'vue-graph/src/widgets/note.js'
    // import LegendWidget from 'vue-graph/src/widgets/legends.js'
    //
    // Vue.component(GraphLine3D.name, GraphLine3D);
    // Vue.component(NoteWidget.name, NoteWidget);
    // Vue.component(LegendWidget.name, LegendWidget);


    const url1 = "http://127.0.0.1:8000/api/part2/";
    const url2 = "http://127.0.0.1:8000/api/part2_2/";
    const url3 = "http://127.0.0.1:8000/api/part2_3/";
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

    //

    new Vue({
        el: '#part2',
        delimiters: ['${','}'],

        data : {
            Nel : '',
            message:'33',
            Dictionary1: {},
            res1: [],

        },
        methods: {
            async setPost(res1) {
                try {
                    let data = await axios.post(url1, res1);
                    if (data.status == 'success') {

                    } else {
                        throw new Error(data.status);
                    }
                } catch (e) {
                    this.error = e;
                }
            },
            async loadDictionarysPreviewLinks(){
                axios
                    .get(url1 )
                    .then(response => {

                        this.all = response.data;
                    })
                    .catch(function(e){
                        this.error = e;
                    });
            },
        },
        mounted: function() {
            this.loadDictionarysPreviewLinks(); //загружаем все ссылки из сервера
        },

    });

    new Vue({

        el: '#part2_2',
        delimiters: ['${','}'],
        data : {
            massive: [],
            Napp: '',
            Nvskrap: '',
            types: ['Napp',
                'Nvskrap'],
            loading: true,
            Dictionary2: {},
            res1: [],
            res2: [],
            search_term: '',
            visible: true,
            state: true,
        },
        methods: {
            setPost: async function (res2, id) {
                try {
                    let data = await axios.post(url2, res2);
                    this.state = !(state);
                    // if (state == false ){
                    //     N1 = 0;
                    //     N2 = 0;
                    // }
                    if (data.status == 'success') {

                    } else {
                        throw new Error(data.status);
                    }
                } catch (e) {
                    this.error = e;
                }
            },
            async loadDictionarysPreviewLinks(){
                axios
                    .get(url2 )
                    .then(response => {
                        this.res2 = response.data;
                    })
                    .catch(function(e){
                        this.error = e;
                    });
            },
            // async poppush(mas, elem){
            //     mas.push(elem)
            //     mas.pop(elem)
            // },
        },
        computed:{
            result: function(){
                return [this.Dictionary2.Nvskrap, this.Dictionary2.Napp];
            },

        },
        mounted() {
            axios.get(url1).then(response => (this.res1 = response.data));
            axios.get(url2).then(response => (this.res2 = response.data));
        },

    });

    new Vue({
        el: '#part2_3',
        delimiters: ['${', '}'],
        data: {
            loading: true,
            Dictionary3: {},
            res1: [],
            res2: {},
            N: '',
            res3: [],
            Napp_mass: [],
            Nvskrap_mass: [],
            P: [],
            Pfixed:[],
            ind:[],
            ann:[],
            Pvskr: [],
            search_term: '',
            visible: false

        },
        mounted() {
            axios.get(url1).then(response => (this.res1 = response.data));
            axios.get(url2).then(response => (this.res2 = response.data));
        },

    });



</script>
</body>


</html>